<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>
    <!-- 每日滾動檔案 -->
    <target xsi:type="File"
            name="rollingFile"
            fileName="${basedir}/logs/${date:format=yyyyMMdd}.log"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ${message}${onexception:${newline}例外：${exception:format=toString}}"
            encoding="UTF-8"
            keepFileOpen="false"
            archiveEvery="Day"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="rollingFile" />
  </rules>

</nlog>
